<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:dt="http://github.com/dandelion/datatables">
<head th:include="common :: head">
<!-- Aquí se incluye el head del archivo common.html-->
</head>
<body>
	<header th:include="common :: header" id="menu">
		<!-- Aquí se incluye el menu superior del archivo common.html-->
	</header>
	<section class="container">
		<header class="jumbotron subhead" id="submenu">
			<div class="subnav subnav-fixed" sec:authorize="hasRole(0)">
				<ul class="nav nav-pills">
					<li th:class="!${isSearch}?'active':''" class="active"><a
						th:text="#{menu.certificado.listar}" href="/acme/certification"
						th:href="@{/acme/certification}">Listar Certificados</a></li>
					<li><a th:text="#{menu.certificado.crear}"
						href="/acme/admin/certification?id=4"
						th:href="@{/acme/admin/certification/create}">Crear
							Certificado</a></li>
					<li><a th:text="#{menu.certificado.familyprofessional}"
						href="/acme/admin/certification/family"
						th:href="@{/acme/admin/certification/family}">Familias
							Professionales</a></li>
					<li th:if="${isSearch}" class="active"><a
						th:text="#{menu.busqueda}" href="">Resultado busqueda
							Certificados</a></li>
				</ul>
			</div>
		</header>
		<div th:if="${!#strings.isEmpty(info)}" id="alerta-div"
			class="alert alert-success">
			<button id="btcerrar" type="button" class="close"
				data-dismiss="alert">×</button>
			<p th:text="${#messages.msg('__${info}__')}">Accion realizada con
				exito</p>
		</div>
		<div th:if="${!#strings.isEmpty(error)}" id="alerta-div"
			class="alert alert-error">
			<button id="btcerrar" type="button" class="close"
				data-dismiss="alert">×</button>
			<p th:text="${#messages.msg('__${error}__')}">Error</p>
		</div>
		<script>
			require([ "dojo/on", "dojo/dom", "dojo/dom-construct" ], function(
					on, dom, domConstruct) {
				dojo.query(".close").onclick(function(evt) {
					domConstruct.destroy(this.parentNode);
				});
			});
		</script>
		<h1
			th:text="${isSearch}?#{certificado.tabla.titulo.busqueda}:#{certificado.tabla.titulo}">Lista
			de Certificados</h1>
		<form class="form-search search-right"
			action="/acme/certification/search"
			th:action="@{/acme/certification/search/}" method="get">
			<input th:value="${search}" name="search" type="text"
				class="input-medium search-query"></input>
			<button type="submit" class="btn">Search</button>
		</form>
		<table id="table_cert" class="table table-border">
			<thead>
				<tr>
					<th th:text="#{masinfo}">Mas Info</th>
					<th class="optional" th:text="#{id}">ID</th>
					<th th:text="#{nombre}">Nombre</th>
					<th class="optional" th:text="#{certificado.company}">Empresa</th>
					<th class="optional" th:text="#{certificado.familia}">Familia
						Profesional</th>
					<th th:text="#{acciones}"
						sec:authorize="hasRole(0)">Acciones</th>
				</tr>
			</thead>
			<tbody th:unless="${#lists.isEmpty(allCertifications.content)}"
				th:each="cert,rowStat  : ${allCertifications}">
				<tr>
					<th><img th:id="${cert.id}" class="fila"
						th:src="@{/img/plus.png}"></img></th>
					<td class="optional" th:text="${cert.id}">1</td>
					<td th:text="${cert.name}">Ingles B1</td>
					<td class="optional" th:text="${cert.company.name}">Cambridge</td>
					<td class="optional" th:text="${cert.familyProfessional.name}">Idiomas</td>
					<td sec:authorize="hasRole(0)"><a
						th:text="#{editar}"
						href="/acme/admin/certification/edit/id/4"
						th:href="@{'/acme/admin/certification/edit/id/' + ${cert.id}}">Edit</a>/
						<a th:text="#{borrar}"
						href="/acme/admin/certification/delete/id/4"
						th:href="@{'/acme/admin/certification/delete/id/' + ${cert.id}}">Delete</a></td>
				</tr>
				<tr th:id="'row_'+${cert.id}" style="display: none">
					<td colspan="5">
						<blockquote>
							<dl>
								<dt class="optional">Id:</dt>
								<dd class="optional" th:text="${cert.id}">1</dd>
								<dt th:text="#{certificado.description}">Descripcion</dt>
								<dd th:text="${cert.description}">Prueba de idiomas</dd>
								<dt th:text="#{certificado.price}">Precio:</dt>
								<dd th:text="${cert.pricePublic}+'&euro;'">30</dd>
								<dt th:text="#{certificado.validez}">Validez:</dt>
								<dd th:text="${cert.validez}">1 año</dd>
								<dt class="optional" th:text="#{certificado.company}">Empresa:</dt>
								<dd class="optional" th:text="${cert.company.name}">Company</dd>
								<dt class="optional" th:text="#{certificado.familia}">Familia
									Profesional:</dt>
								<dd class="optional" th:text="${cert.familyProfessional.name}">Idiomas</dd>
							</dl>
						</blockquote>
					</td>
				</tr>
			</tbody>
			<tbody th:unless="${!#lists.isEmpty(allCertifications.content)}">
				<tr>
					<td
						th:text="${isSearch}?#{certificado.tabla.busqueda.vacia}:#{certificado.tabla.vacia}"
						colspan="5"><h2>No hay certificados en el sistema</h2></td>
				</tr>
			</tbody>
		</table>
		<ul class="pager">
			<li class="previous"
				th:class="${allCertifications.firstPage?'previous disabled':'previous'}"><a
				href="#" th:disabled="${allCertifications.firstPage}"
				th:href="!${allCertifications.firstPage}?(${isSearch}?(@{/acme/certification/search/page/}+${allCertifications.number-1}+'?search='+${search}):(@{/acme/certification/page/}+${allCertifications.number-1})):'#'">&larr;
					Anterior</a></li>
			<li class="next"
				th:class="${allCertifications.lastPage?'next disabled':'next'}"><a
				href="#" th:disabled="${allCertifications.lastPage}"
				th:href="!${allCertifications.lastPage}?(${isSearch}?(@{/acme/certification/search/page/}+${allCertifications.number+1}+'?search='+${search}):(@{/acme/certification/page/}+${allCertifications.number+1})):'#'">Siguiente
					&rarr;</a></li>
		</ul>
		<script>
			require([ "dojo/on", "dojo/dom", "dojo/dom-style" ], function(on,
					dom, domStyle) {
				dojo.query(".fila").onclick(function(evt) {
					var node = "row_" + evt.target.id;
					if (domStyle.get(node, "display") != "none")
						domStyle.set(node, "display", "none");
					else
						domStyle.set(node, "display", "");
				});
			});
		</script>
	</section>
	<footer th:include="common :: footer">
		<!-- Aquí se incluye el footer del archivo common.html-->
	</footer>
</body>
</html>
