<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
<!-- Aquí se incluye el head del archivo common.html-->
</head>
<body>
	<header th:include="common :: header" id="menu">
		<!-- Aquí se incluye el menu superior del archivo common.html-->
	</header>
	<section class="container">
		<header class="jumbotron subhead" id="submenu">
			<div class="subnav subnav-fixed">
				<ul class="nav nav-pills">
					<li><a th:text="#{menu.certificado.listar}"
						href="/acme/certification" th:href="@{/acme/certification}">Listar
							Certificados</a></li>
					<li class="active"><a th:text="#{menu.certificado.crear}"
						href="/acme/admin/certification?id=4"
						th:href="@{/acme/admin/certification/create}">Crear Certificado</a></li>
					<li><a th:text="#{menu.certificado.familyprofessional}"
						href="/acme/admin/certification/family"
						th:href="@{/acme/admin/certification/family}">Familias Professionales</a></li>
				</ul>
			</div>
			<h1 th:text="#{certificado.tabla.titulo}">Lista de Certificados</h1>
		</header>
		<form class="form-horizontal" method="post"
			th:action="${isNew}?@{/acme/admin/certification/create}:@{/acme/admin/certification/edit/id/__${cert.id}__}"
			th:object="${cert}"
			val:validate="${cert}">
			<input type="hidden" th:field="*{version}" th:value="${cert.version}" id="version" ></input>
			<div th:if="${#fields.hasErrors('*')}" id="error-div" class="alert alert-error">
				<button id="btcerrar" type="button" class="close" data-dismiss="alert">×</button>
				<ul class="errorlist">
					<li th:each="err : ${#fields.errors('*')}" th:text="${#messages.msg('__${err}__')}">Input
						is incorrect</li>
				</ul>
			</div>
			<div th:if="${!#strings.isEmpty(info)}" id="alerta-div" class="alert alert-success">
				<button id="btcerrar" type="button" class="close" data-dismiss="alert">×</button>
				<p th:text="${#messages.msg('__${info}__')}">Accion realizada con exito</p>
			</div>
			<div th:if="${!#strings.isEmpty(error)}" id="alerta-div" class="alert alert-error">
				<button id="btcerrar" type="button" class="close" data-dismiss="alert">×</button>
				<p th:text="${#messages.msg('__${error}__')}">Error</p>
			</div>
			<script>
				require([ "dojo/on", "dojo/dom", "dojo/dom-construct" ],
						function(on, dom, domConstruct) {
							dojo.query(".close").onclick(function(evt) {
								domConstruct.destroy(this.parentNode);
							});
						});
			</script>
			<div class="control-group">
				<label th:text="#{certificado.formulario.id}" class="control-label">Id</label>
				<div class="controls">
					<input th:field="*{id}" th:value="${cert.id}" type="text" id="id"></input>
					<p th:text="#{certificado.formulario.id.informacion}"
						class="help-inline">Only information</p>
				</div>
			</div>
			<div class="control-group">
				<label th:text="#{certificado.formulario.nombre}"
					class="control-label">Name</label>
				<div class="controls">
					<input th:field="*{name}" th:value="${cert.name}" type="text"
						id="name"></input>
				</div>
			</div>
			<div class="control-group">
				<label th:text="#{certificado.formulario.coste}"
					class="control-label">Cost</label>
				<div class="controls">
					<div class="input-append">
						<input th:field="*{cost}" th:value="${cert.cost}" type="text"
							id="cost" size="16" class="span2"></input><span class="add-on">&euro;</span>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label th:text="#{certificado.formulario.descripcion}"
					class="control-label">Description</label>
				<div class="controls">
					<input th:field="*{description}" th:value="${cert.description}"
						type="text" id="description"></input>
				</div>
			</div>
			<div class="control-group">
				<label th:text="#{certificado.formulario.familia}"
					class="control-label">FamilyProfessional</label>
				<div class="controls">
					<select  th:field="*{familyProfessional}" id="familyprofessional">
						<option th:each="fam : ${allFamilyProfessional}"
							th:value="${fam.id}" th:text="${fam.name}">Idiomas</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label th:text="#{certificado.formulario.precio}"
					class="control-label">Price Public</label>
				<div class="controls">
					<div class="input-append">
						<input th:field="*{pricePublic}" th:value="${cert.pricePublic}"
							type="text" id="pricepublic" size="16" class="span2"></input><span
							class="add-on">&euro;</span>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label th:text="#{certificado.formulario.validez}"
					class="control-label">Validate</label>
				<div class="controls">
					<input  th:field="*{validez}" th:value="${cert.validez}" type="text"
						id="validate"></input>
				</div>
			</div>
			<div class="control-group">
				<label th:text="#{certificado.formulario.calificacion}"
					class="control-label">Requirement Califitacion</label>
				<div class="controls">
					<input th:field="*{requirementCalification}" type="text"
						id="requirementCalification"></input>
				</div>
			</div>
			<div class="control-group">
				<table>
					<thead>
						<tr>
							<th>Requisitos</th>
							<th>
								<button  type="submit" name="addRow">Añadir Requisito</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row,rowStat : *{requirements}">
							<td th:text="${rowStat.count}">1</td>
							<td><input type="text"
								th:field="*{requirements[__${rowStat.index}__]}" /></td>
							<td>
								<button type="submit" name="removeRow"
									th:value="${rowStat.index}">Remove row</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="control-group">
				<label th:text="#{certificado.formulario.company}"
					class="control-label">Company</label>
				<div class="controls">
					<select th:field="*{company}" id="company">
						<option th:each="user : ${allCompany}" th:value="${user.id}"
							th:text="${user.name}">IBM</option>
					</select>
				</div>
			</div>
			<div class="form-actions">
				<input th:value="#{certificado.formulario.guardar}" type="submit"
					class="btn btn-primary" value="Guardar" name="create"></input> 
					<a th:text="#{certificado.formulario.cancelar}" href="/acme/certification" th:href="@{/acme/certification}"
					class="btn" >Cancel</a>
			</div>
		</form>
	</section>
	<footer th:include="common :: footer">
		<!-- Aquí se incluye el footer del archivo common.html-->
	</footer>
</body>
</html>