<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
<!-- Aquí se incluye el head del archivo common.html-->
</head>
<body>
<header th:include="common :: header" id="menu">
<!-- Aquí se incluye el menu superior del archivo common.html-->
</header>
<section class="container">
<header class="jumbotron subhead" id="submenu">
 <div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
     <li><a th:text="#{menu.certificado.listar}" href="/acme/certification" th:href="@{/acme/certification}">Listar Certificados</a></li>
     <li class="active"><a href="/acme/certification?id=4" th:href="@{/acme/certification/create}" th:text="${isNew}?#{menu.certificado.crear}:#{menu.certificado.editar}">Crear Certificado</a></li>
    </ul>
  </div>
  <h1 th:text="${isNew}?#{menu.certificado.crear}:#{menu.certificado.editar}">Crear Certificado</h1>
</header>
<form class="form-horizontal" method="post" th:action="${isNew}?@{/acme/certification/create}:@{/acme/certification/edit/id/1}" th:object="${cert}">
	<div class="control-group">
		<label th:text="#{certificado.formulario.id}" class="control-label">Id</label>
		<div class="controls">
			<input th:field="*{id}" th:value="${cert.id}" type="text" id="id"></input>
			<p th:text="#{certificado.formulario.id.informacion}" class="help-inline">Only information</p>
		</div>
	</div>
	<div class="control-group">
		<label th:text="#{certificado.formulario.nombre}" class="control-label">Name</label>
		<div class="controls">
			<input th:value="${cert.name}" type="text" id="name"></input>
		</div>
	</div>
	<div class="control-group">
		<label th:text="#{certificado.formulario.coste}" class="control-label">Cost</label>
		<div class="controls">
			<div class="input-append">
				<input th:value="${cert.cost}" type="text" id="cost" size="16" class="span2"></input><span class="add-on">&euro;</span>	
			</div>
		</div>
	</div>
	<div class="control-group">
		<label th:text="#{certificado.formulario.descripcion}" class="control-label">Description</label>
		<div class="controls">
			<input th:value="${cert.description}" type="text" id="description"></input>
		</div>
	</div>
	<div class="control-group">
		<label th:text="#{certificado.formulario.familia}" class="control-label">FamilyProfessional</label>
		<div class="controls">
			<select id="familyprofessional">
				<option th:each="fam : ${allFamilyProfessional}" th:value="${fam.id}" th:text="${fam.name}">Idiomas</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label th:text="#{certificado.formulario.precio}" class="control-label">Price Public</label>
		<div class="controls">
			<div class="input-append">
				<input th:value="${cert.pricePublic}" type="text" id="pricepublic" size="16" class="span2"></input><span class="add-on">&euro;</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label th:text="#{certificado.formulario.validez}" class="control-label">Validate</label>
		<div class="controls">
			<input th:value="${cert.validez}" type="text" id="validate"></input>
		</div>
	</div>
	<div class="control-group">
		<label th:text="#{certificado.formulario.calificacion}" class="control-label">Requirement Califitacion</label>
		<div class="controls">
			<input type="text" id="requirementcalification"></input>
		</div>
	</div>
	<div class="control-group">
		<label th:text="#{certificado.formulario.requisitos}" class="control-label">Requirements</label>
		<div class="controls">
			<div class="input-append">
				<input type="text" id="addRequirement"></input><button th:text="#{certificado.formulario.add}" class="btn" type="button">A&ntilde;adir</button>
			</div>
		</div>
		<div class="controls">
			<div class="input-append">
				<select id="requirements" multiple="multiple">
					<option>Mayor de 18 años.</option>
				</select>
				<button class="btn" th:text="#{certificado.formulario.delete}" type="button">Borrar</button>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label th:text="#{certificado.formulario.company}" class="control-label">Company</label>
		<div class="controls">
			<input type="text" id="company"></input>
		</div>
	</div>
	<div class="form-actions">
		<input th:value="#{certificado.formulario.guardar}" type="submit" class="btn btn-primary" value="Guardar"></input>
		<input th:value="#{certificado.formulario.cancelar}" type="submit" class="btn" value="Cancelar"></input>
		<input th:value="#{certificado.formulario.delete}" th:unless="(${isNew})" type="submit" class="btn" value="Borrar"></input>
	</div>
		</form>
</section>
<footer th:include="common :: footer">
<!-- Aquí se incluye el footer del archivo common.html-->
</footer>
</body>
</html>