<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: head">
<!-- Aquí se incluye el head del archivo common.html-->
</head>
<body>
	<header th:include="common :: header" id="menu">
		<!-- Aquí se incluye el menu superior del archivo common.html-->
	</header>
	<section class="container">
		<form class="form-signin" th:action="@{/j_spring_security_check}"
			method="post">
			<div th:if="${loginError}" class="alert alert-error">
				<p th:text="#{login.error}">Wrong user or passshhword</p>
			</div>
			<h3 class="form-signin-heading" th:text="#{login.titulo}">Identifícate</h3>
			<input id="j_username" name="j_username" type="text"
				class="input-block-level" th:placeholder="#{login.username}" placeholder="Usuario" required="required">
			</input> <input id="j_password" name="j_password" type="password"
				class="input-block-level" th:placeholder="#{login.password}" placeholder="Contrasenna"
				required="required"></input>
			<button class="btn btn-large btn-primary" type="submit" th:text="#{login.button}">Entrar</button>
		</form>
	</section>
	<footer th:include="common :: footer">
		<!-- Aquí se incluye el footer del archivo common.html-->
	</footer>
</body>
</html>