<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:dt="http://github.com/dandelion/datatables">
<head th:include="common :: head">
<!-- Aquí se incluye el head del archivo common.html-->
</head>
<body class="claro">
	<header th:include="common :: header" id="menu">
		<!-- Aquí se incluye el menu superior del archivo common.html-->
	</header>
	<section class="container">
		<div th:if="!${isSearch}" id="addExamination"
			sec:authorize="hasRole(0)">
			<h3>Añadir nueva Convocatoria</h3>
			<form class="form-horizontal" method="post"
				th:action="${isNew}?@{/acme/admin/examination/create}:@{/acme/admin/examination/edit/id/__${exam.id}__}"
				th:object="${exam}" val:validate="${exam}">
				<div th:if="${#fields.hasErrors('*')}" id="error-div"
					class="alert alert-error">
					<button id="btcerrar" type="button" class="close"
						data-dismiss="alert">×</button>
					<ul class="errorlist">
						<li th:each="err : ${#fields.errors('*')}"
							th:text="${#messages.msg('__${err}__')}">Input is incorrect</li>
					</ul>
				</div>
				<div th:if="${!#strings.isEmpty(info)}" id="alerta-div"
					class="alert alert-success">
					<button id="btcerrar" type="button" class="close"
						data-dismiss="alert">×</button>
					<p th:text="${#messages.msg('__${info}__')}">Accion realizada
						con exito</p>
				</div>
				<div th:if="${!#strings.isEmpty(error)}" id="alerta-div"
					class="alert alert-error">
					<button id="btcerrar" type="button" class="close"
						data-dismiss="alert">×</button>
					<p th:text="${#messages.msg('__${error}__')}">Error</p>
				</div>
				<script>
					require([ "dojo/on", "dojo/dom", "dojo/dom-construct" ],
							function(on, dom, domConstruct) {
								dojo.query(".close").onclick(function(evt) {
									domConstruct.destroy(this.parentNode);
								});
							});
				</script>
				<div class="control-group">
					<label th:text="#{exam.id}" class="control-label">Id</label>
					<div class="controls">
						<input th:field="*{id}" th:value="${exam.id}" type="text" id="id"
							readonly="readonly"></input>
						<p th:text="#{certificado.formulario.id.informacion}"
							class="help-inline">Only information</p>
					</div>
				</div>
				<div class="control-group">
					<label th:text="#{exam.certification}" class="control-label">Certificado</label>
					<div class="controls">
						<select th:field="*{certification}"
							th:value="${exam.certification}" id="name">
							<option th:each="c : ${allCertifications}" th:value="${c.id}"
								th:text="${c.name}"></option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label th:text="#{exam.feclimit}" class="control-label">Fecha
						limite registro</label>
					<div class="controls">
						<input th:field="*{dateLimitRegister}" th:with="df=#{date.format}"
							th:value="${#dates.format(exam.dateLimitRegister,df)}"
							type="text" id="dateLimitRegister" name="date1"
							data-dojo-type="dijit/form/DateTextBox"></input>
					</div>
				</div>
				<div class="control-group">
					<label th:text="#{exam.fecrealizacion}" class="control-label">Fecha
						de Realizacion</label>
					<div class="controls">
						<input th:field="*{dateRealization}" th:with="df=#{date.format}"
							th:value="${#dates.format(exam.dateRealization,df)}" type="text"
							id="dateRealization" name="date2"
							data-dojo-type="dijit/form/DateTextBox"></input>
					</div>
				</div>
				<div class="control-group">
					<label th:text="#{exam.timeRealization}" class="control-label">Hora
						de Realizacion</label>
					<div class="controls">
						<input th:field="*{timeRealization}" th:with="df=#{time.format}"
							th:value="${#dates.format(exam.timeRealization,df)}" type="text"
							id="timeRealization" name="time"
							data-dojo-type="dijit/form/TimeTextBox"></input>
					</div>
				</div>
				<div class="form-actions">
					<input th:value="#{certificado.formulario.guardar}" type="submit"
						class="btn btn-primary" value="Guardar" name="create"></input><a
						th:text="#{certificado.formulario.cancelar}"
						href="/acme/admin/examination/"
						th:href="@{/acme/admin/examination/}" class="btn">Cancel</a>
				</div>
			</form>
		</div>
		<h1
			th:text="${isSearch}?#{examination.tabla.titulo.busqueda}:#{examination.tabla.titulo}">Lista
			de Convocatorias</h1>
		<form class="form-search search-right"
			action="/acme/examination/search"
			th:action="@{/acme/examination/search/}" method="get">
			<input th:value="${search}" name="search" type="text"
				class="input-medium search-query"></input>
			<button type="submit" class="btn">Search</button>
		</form>
		<table id="tabla_examination" class="table table-border">
			<thead>
				<tr>
					<th class="optional-plus" th:text="#{certificado.tabla.mas}">Mas
						Info</th>
					<th class="optional" th:text="#{exam.tabla.id}">ID</th>
					<th th:text="#{exam.tabla.nombre}">Certifcado</th>
					<th class="optional" th:text="#{exam.tabla.feclimite}">Fecha
						Limite Registro</th>
					<th class="optional" th:text="#{exam.tabla.fecrealizacion}">Fecha
						Realizacion</th>
					<th class="optional" th:text="#{exam.tabla.timerealizacion}">Hora
						Realizacion</th>
					<th th:text="#{exam.tabla.editar}" sec:authorize="hasRole(0)">Editar</th>
					<th th:text="#{exam.tabla.borrar}" sec:authorize="hasRole(0)">Borrar</th>
					<th th:text="#{exam.tabla.registrar}" sec:authorize="hasRole(4)">Registrarse</th>
				</tr>
			</thead>
			<tbody th:unless="${#lists.isEmpty(allExamination.content)}"
				th:each="exam,rowStat  : ${allExamination}">
				<tr>
					<td class="optional-plus"><img th:id="${exam.id}" class="fila"
						th:src="@{/img/plus.png}"></img></td>
					<td class="optional" th:text="${exam.id}">1</td>
					<td th:text="${exam.certification.name}">Ingles</td>
					<td class="optional" th:with="df=#{date.format}"
						th:text="${#dates.format(exam.dateLimitRegister,df)}">12/05/2013</td>
					<td class="optional" th:with="df=#{date.format}"
						th:text="${#dates.format(exam.dateRealization,df)}">25/05/2013</td>
					<td class="optional" th:with="df=#{time.format}"
						th:text="${#dates.format(exam.timeRealization,df)}">13:30</td>
					<td sec:authorize="hasRole(0)"><a
						th:text="#{exam.tabla.editar}"
						href="/acme/admin/examination/edit/id/4"
						th:href="@{'/acme/admin/examination/edit/id/' + ${exam.id}}">Edit</a></td>
					<td sec:authorize="hasRole(0)"><a
						th:text="#{exam.tabla.borrar}"
						href="/acme/admin/examination/delete/id/4"
						th:href="@{'/acme/admin/examination/delete/id/' + ${exam.id}}">Delete</a></td>
					<td sec:authorize="hasRole(4)"><a th:if="${exam.isOpen()}"
						th:text="#{exam.tabla.registrar}"
						href="/acme/customer/register/examination/"
						th:href="@{'/acme/customer/register/examination/id/' + ${exam.id}}">Registrarse</a><span
						th:text="#{examination.close}" th:if="!${exam.isOpen()}"></span></td>
				</tr>
				<tr th:id="'row_'+${exam.id}"
					style="display: none">
					<td class="optional-plus" colspan="2">
						<blockquote>
							<dl>
								<dt class="optional" th:text="#{exam.tabla.id}">ID</dt>
								<dd class="optional" th:text="${exam.id}">1</dd>
								<dt class="optional" th:text="#{exam.tabla.feclimite}">Fecha
									Limite Registro</dt>
								<dd class="optional" th:with="df=#{date.format}"
									th:text="${#dates.format(exam.dateLimitRegister,df)}">12/05/2013</dd>
								<dt class="optional" th:text="#{exam.tabla.fecrealizacion}">Fecha
									Realizacion</dt>
								<dd class="optional" th:with="df=#{date.format}"
									th:text="${#dates.format(exam.dateRealization,df)}">25/05/2013</dd>
								<dt class="optional" th:text="#{exam.tabla.timerealizacion}">Hora
									Realizacion</dt>
								<dd class="optional" th:with="df=#{time.format}"
									th:text="${#dates.format(exam.timeRealization,df)}">13:30</dd>
							</dl>
						</blockquote>
					</td>
				</tr>
			</tbody>
			<tbody th:if="${#lists.isEmpty(allExamination.content)}">
				<tr>
					<td
						th:text="${isSearch}?#{examination.tabla.busqueda.vacia}:#{examination.tabla.vacia}"
						colspan="8"><h2>No hay familias convocatorias en el
							sistema</h2></td>
				</tr>
			</tbody>
		</table>
		<ul class="pager">
			<li class="previous"
				th:class="${allExamination.firstPage?'previous disabled':'previous'}"><a
				href="#" th:disabled="${allExamination.firstPage}"
				th:href="!${allExamination.firstPage}?(${isSearch}?(@{/acme/examination/search/page/}+${allExamination.number-1}+'?search='+${search}):(@{/acme/examination/page/}+${allExamination.number-1})):'#'">&larr;
					Anterior</a></li>
			<li class="next"
				th:class="${allExamination.lastPage?'next disabled':'next'}"><a
				href="#" th:disabled="${allExamination.lastPage}"
				th:href="!${allExamination.lastPage}?(${isSearch}?(@{/acme/examination/search/page/}+${allExamination.number+1}+'?search='+${search}):(@{/acme/examination/page/}+${allExamination.number+1})):'#'">Siguiente
					&rarr;</a></li>
		</ul>
		<script>
			require([ "dojo/on", "dojo/dom", "dojo/dom-style" ], function(on,
					dom, domStyle) {
				dojo.query(".fila").onclick(function(evt) {
					var node = "row_" + evt.target.id;
					if (domStyle.get(node, "display") != "none")
						domStyle.set(node, "display", "none");
					else
						domStyle.set(node, "display", "");
				});
			});
		</script>
	</section>
	<footer th:include="common :: footer">
		<!-- Aquí se incluye el footer del archivo common.html-->
	</footer>
</body>
</html>
